body {
    background-color: #65727F;
    font: 10pt arial;
    width: 100%;
    height: 100%;


}

.loginBox {
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
    align-content: center;
    margin: auto;
    width: 256px;
    border-radius: 25px;
    box-shadow: 3px 3px 8px #181818;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;


    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

input {
    padding: 5px;
    margin-bottom: 20px;
    width: 95%;
    border-radius: 3px;
}

button {
    horiz-align: center;
    padding: 5px;
    color:white;
    font-size: 18px;
    width: 100%;
    background: linear-gradient(to bottom, #8dde8c 0%, #448643 100%);
   /* background: linear-gradient(to bottom, #688dde 0%, #425a86 100%);*/
    border-radius: 3px;
    box-shadow: 1px 1px 2px #838383;


}
div.errorBox {
    background-color: #ffa7a2;
    border: 2px #ff5853 solid;
    padding: 5px;
    margin: 15px 0 15px 0;
    border-radius: 10px;
    text-align: center;
}

div.loginSubmitBox {
    width: 100%;
}
div.loginExtras {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
}
h2 {
    font-size: 24px;
    text-align: center;
}
label {
    font-size: 12px;
    font-weight: bold;
}
input.password {
    background-color: #a1aec7;
}
input.username {
    background-color: #a1aec7;
}
.defaultText {
    color: red;
}